<div class="text-center">
  <h2>{{name}}</h2>
  <p>{{{get_emoji}}}</p>
  <p>{{description}}</p>
  <p>Created by {{user.name}} on {{ date_created}}</p>
<h1>{{post_name}}</h1>
<p>{{post_body}}</p>
  <p>
    <button class="btn btn-primary">Comment</button>
  </p>
</div>
